.about {
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;

    &__text-box {
        flex: 0 1 auto;
        width: 50%;
        margin-left: 3rem;
    }

    &__image {
        flex: 0 1 auto;

        & img {
            height: 400px;
            width: 350px;
            background-color: blue;
        }
    }
}