.about {
    

    @mixin atSmall {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }

    &__header {
        @mixin atSmall {
            flex: 0 1 auto;
        }
    }


    &__text-box {
        
        @mixin atSmall {
            flex: 0 1 auto;
            width: 60%;
            margin-left: 3rem;
        }
    }

    &__photo {
        height: 15rem;
        width: 15rem;
        right: 50%;
        transform: translateX(50%);
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $headerColor;
        margin-bottom: 1.5rem;

        @mixin atSmall {
            height: 10rem;
            width: 10rem;
            right: 0%;
            transform: none;
            margin-top: 1rem;
        }
    }


}