.about {
    margin-top: 0;

    @mixin atSmall {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        flex: 0 1 auto;
    }


    &__text-box {
        flex: 0 1 auto;
        
        @mixin atSmall {
            width: 60%;
            margin-left: 3rem;
        }
    }


}