.card {
    width: 100%;
    height: 90vh;
    border-bottom: 10px solid black;
    background-color: $headerColor;
    
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    &__content {
        margin: 3rem;
        border: 1px solid black;
    }
    
    &__content__text {
        flex: 0 1 auto;
    }

    &__content__tech {
        flex: 0 1 auto;
    }

    &__exit {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: none;
    }
}