.footer {
    flex-direction: column;
    margin-bottom: 8rem;

    &__headline {
        padding-top: 3rem;
        width: 90%;
        margin: auto;
        color: $headerColor;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;

        @mixin atSmall {
            font-size: 6rem;
        }
    }

    &__button-wrapper {
        margin-top: 2rem;
    }
    &__button {
        margin: auto;
        text-align: center;
    }

    &__links {
        opacity: 0.3;
        border-top: 2px solid $headerColor;
        
        margin-top: 2rem;
        height: 80px; 

        &:hover {
            opacity: 1;
        }
    }

    &__social {
        margin-top: 1rem;
        list-style: none;
        float: left;
        color: $headerColor;
        
        & a {
            text-decoration: none;
            color: inherit;
        }
        
        & li {
            display: inline-block;
            margin-right: 2rem;
            transition: scale 0.5s;
            
            /*
            &:hover {
                transform: scale(1.2);
            }
            
            */
        }
        
    }
}