.header {
    font-family: 'Playfair Display', serif;
    height: 100vh;
    background-color: $headerColor;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    
    &__title {
        font-weight: 800;
        line-height: 140%;
        font-size: 2.5rem;
        
        text-justify: inter-character;
        margin-bottom: 1rem;

        &--highlight {
            color: $darkerAccent;
        }

        @mixin atSmall {
            
        }
        
        @mixin atMedium {
            font-size: 4rem;
            margin-bottom: 0;    
        }
    }

    &__border {
        margin-bottom: 2rem;
        
        &_filter {
            fill: $headerColor;
        }
    }
}
