.more-projects {
    display: block;
    margin: 2rem 0 7rem 0;
    @mixin atSmall { margin: 2rem 2rem 7rem 2rem; }
    @mixin atMedium { margin: 2rem auto 7rem auto; }
    
    &__title {
        text-align: center;
        cursor: pointer;
        
        &-text {
            display: inline-block;
            margin-top: 0;
        }

        &-button {
            border: none;
            background-color: $mainColor;
            cursor: pointer;
            outline: none;
            display: inline-block;
            font-size: 2.5rem;
            vertical-align: middle;
            margin: 0 0 0 1rem;
            transition: transform 0.5s linear;
    
            & :hover {
                transform: scale(1.2);
            }

            &--pressed {
                transform: rotate(180deg) translateY(7px);
            }
        }
    }

    &__project-list {
        display: none;
        opacity: 0;
        transition: opacity 1s ease;
        
        &--button-is-pressed {
            display: block !important;
            opacity: 1;
        }
        
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
            
            &:first-of-type {
                margin-top: 3rem;
            }
            
            @mixin atSmall {
                flex-direction: row;
                margin-bottom: 4rem;
            }
        }
        
        &__image {
            flex: 0 1 auto;
            display: none;
            cursor: pointer;
            
            @mixin atSmall {
                display: inline-block;
                height: 150px;
                width: auto;
                margin-right: 2rem;
                margin-bottom: 0;
                
                opacity: 1;
                transition: opacity 0.5s;  
                
                &:hover {
                    opacity: 0.8;
                }
            }
            
            &--border {  border: 1px solid rgb(218, 215, 215); }
        }

        &__textbox {
            flex: 0 1 70%;
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0;
            float: left;
            display: inline-block;
        }
        
        &__link {
            display: inline-block;
            font-size: 140%;
            vertical-align: middle;
            
            margin-left: 2rem;
            color: $headerColor;
            
        }

        &__description {
            font-size: 90%;
            margin: 1.5rem 0;
        }

        &__tech {
            list-style: none;
            margin: 0;

            & li {
                font-size: 80%;
                font-weight: 800;
                display: inline-block;
                border: 1px solid $headerColor;
                color: $headerColor;
                padding: 7px 10px;
                margin-right: 1rem;
            }
        }
    }
}