.projects {
    margin-bottom: 2rem;
    @mixin atMedium { margin-bottom: 10rem; }

    &__header {
        margin-bottom: 4rem;
        @mixin atSmall { text-align: center; }
    }
   
    /* Each project is a grid, with a flexbox inside the texbox */

    &__item {
        margin-bottom: 5rem;
        @mixin atMedium {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            margin-bottom: 15rem;
            &:last-of-type { margin-bottom: 0; }
        }
    }

    &__photo-area {
        margin-bottom: 1rem;
        @mixin atSmall { margin: 0 2rem 1rem 2rem; }      
        @mixin atMedium { margin: 0; }
                
        grid-column: 1 / 8;
        grid-row: 1;
        &--opposite {
            grid-column: 6 / 13;
        }
        
        & img {
            width: 100%;
            height: auto;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.5s, transform 0.5s;  
            
            &:hover {
                opacity: 0.7;
                transform: scale(1.01);                
            }
        }       
    }
    
    &__text-area {
        grid-column: 6 / 13;
        grid-row: 1;
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        &--opposite {
            grid-column: 1 / 8;
            align-items: flex-start;
        }
        
        & > * { z-index: 10; }
        
    }

    &__title {
        text-align: right;
        cursor: pointer;
    }

    &__text-box {
        background-color: #aec2c28a;
        /* background-color: rgb(241, 240, 240); */
        border-radius: 4px;
        padding: 1.5rem;  
        text-align: right;
        margin: 0;

        &--opposite {
            text-align: left;
        }
    }
    
    &__tech {
        margin: 1rem 0;
        font-weight: 300;
        font-size: 0.9rem;
        list-style: none;
        
        & li {
            display: inline-block;
            margin-right: 2rem;
            &:last-of-type { margin-right: 0; }
        }
    }

    &__button {
        float: right;
        margin-top: 1rem;
    }
}