.projects {

    &__header {
        text-align: center;
    }

    &__item {

    }

    &__photo-box {
        flex: 0 1 auto;
        height:360px;
        width: 50%;
        background-color: rgb(185, 82, 82);
    }

    &__text-box {
        flex: 0 1 auto;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        color: $headerColor;
        font-size: 2rem;
        text-align: right;
    }

    &__text {
        background-color: yellow;
        
        
    }
}