.skills {

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "skills-a skills-b"
        "skills-c skills-d";
        column-gap: 2rem;
        row-gap: 0;

        @mixin atMedium {
            grid-template-columns: 25% 20% 20% 20%;
            column-gap: 1rem;
            grid-template-areas: 
            "skills-a skills-b skills-c skills-d";
        }
    }

    

    &-a { grid-area: skills-a; }

    &-b { grid-area: skills-b; }

    &-c { grid-area: skills-c; }

    &-d { grid-area: skills-d; }

    &__title {
        
        @mixin atMedium {
            display: inline-block;
            float: left;
            margin-right: 3rem;
        }
    }

    &__list {
        
        list-style: none;
        white-space: nowrap;
        
        
        & li {
            line-height: 200%;
        }
    }

    /* EXPERIMENT ABOVE 
    align-items: flex-start;
    flex-wrap: wrap;

    @mixin atSmall {
        justify-content: center;
        align-items: flex-start;
    }

    
    &__flexchild {
        flex: 1 0 auto;
  
        @mixin atSmall {
            margin-right: 5rem;
        }
    }
    */
}